@page "/"
@inject HttpClient Http
@using SharedCode

<h2>DDD events near you!</h2>

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>I'm interested in:</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary @( RoleSelected(DDDEvents.SelectedRole.Speaking) ? "active" : "" ) " >
                        <input type="radio" name="options" id="role_speaking" autocomplete="off" 
                               onclick="@SelectRole(DDDEvents.SelectedRole.Speaking)"  /> Speaking
                    </label>
                    
                    <label class="btn btn-secondary @( RoleSelected(DDDEvents.SelectedRole.Attending) ? "active" : "" ) " >
                        <input type="radio" name="options" id="role_attending" autocomplete="off" 
                               onclick="@SelectRole(DDDEvents.SelectedRole.Attending)"  /> Attending
                    </label>
                </div>
            </div>

            @if (ddd != null)
            {
                <div class="col">
                    <p>Region</p>
                    <select class="custom-select">
                        <option value="all">All</option>

                        @foreach (var region in ddd.Regions)
                        {
                            <option value="@region">@region</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>

    @if (ddd == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="3">Name</th>
                        <th colspan="4">Session</th>
                        <th rowspan="3">Agenda announced</th>
                        <th rowspan="3">Registration open</th>
                    </tr>
                    <tr>
                        <th colspan="2">Submission</th>
                        <th colspan="2">Voting</th>
                    </tr>
                    <tr>
                        <th>Opens</th>
                        <th>Closes</th>
                        <th>Opens</th>
                        <th>Closes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dayEvent in ddd.Events)
                    {
                        <tr>
                            <td>@dayEvent.Name</td>
                            <td>@DDDEvents.formatDate(dayEvent.SessionSubmissionOpens)</td>
                            <td>@DDDEvents.formatDate(dayEvent.SessionSubmissionCloses)</td>
                            <td>@DDDEvents.formatDate(dayEvent.SessionVotingOpens)</td>
                            <td>@DDDEvents.formatDate(dayEvent.SessionVotingCloses)</td>
                            <td>@DDDEvents.formatDate(dayEvent.AgendaAnnounced)</td>
                            <td>@DDDEvents.formatDate(dayEvent.RegistrationOpens)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>

@functions {

    DDDEvents.DDD ddd;
    DDDEvents.Selected selected = new DDDEvents.Selected(DDDEvents.SelectedRole.Speaking, "");

    protected bool RoleSelected(DDDEvents.SelectedRole role)
    {
        return selected.Role == role;
    }

    protected Action SelectRole(DDDEvents.SelectedRole role)
    {
        return () =>
        {
            selected = new DDDEvents.Selected(role, selected.Region);
        };
    }

    protected override async Task OnInitAsync()
    {
        ddd = await Http.GetJsonAsync<DDDEvents.DDD>("data/ddd.json");

    }
}
